<template>
<div>
    <div class="input-group mb-3">
        <button class="btn btn-outline-secondary" type="submit" @click.prevent="submitComment()" id="button-addon1">Send</button>
        <input type="text" v-model="content" @keyup.enter="submitComment()" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>

    <div class="row" style="padding: 15px" v-for="comment in comments" :key="comment.id">
        <div class="card_image">
            <img :src="'/profil/profil_3.webp'" class="rounded-circle" width="70" alt="">
            <h5>{{comment.user.name}}</h5>
        </div>
        <div class="card">
            
            <div class="card-body">
                
                <p>{{comment.content}}</p>
            </div>
        </div>
    </div>
</div>

</template>

<script>

export default{
    props:['post'],

    data(){
        return{
            comments:[],
            content:''
        }
    },
    mounted(){
        axios.get('/comment/' + this.post.id)
        .then((response) =>{
            this.comments = response.data;
        });

        Echo.private('post')
        .listen('SendComment', (e) => {
            this.comments.unshift(e);
        });
    },
    methods:{
        submitComment(){
            axios.post('/comment/' + this.post.id, {
                content: this.content
            })
            .then(response => {
                this.content='';
                this.comments.unshift(response.data);
            })
            
        }
    }
}

</script>

